#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=preview
Comment=Launches the ranger preview manager
Icon=utilities-terminal
Terminal=true
Exec=preview
Categories=ConsoleOnly;System;FileTools;FileManager;Core;
MimeType=inode/directory;application/x-gnome-saved-search;
Keywords=File;Manager;Folders;Filesystem;Browser;Explorer;Launcher;Vi;Vim;Bash;Shell
Actions=open-home;open-computer;open-trash;
